@{
    ViewData["Title"] = "Build Power";
}

<div class="row">
    <div class="col">
        <h2>Build Power</h2>
        <p>
            Here you pick all aspects of your power except for one, which is the aspects
            that you are leaving to the system to "solve for."  The aspect to solve for
            can be the Level of Concentration, or it can be the Odds (applies to Instant
            powers only), or it can be the Effectiveness (applies to Ongoing powers only).
        </p>
    </div>
</div>
<div class="row">
    <div class="col">
        <div id="root"></div>
    </div>
</div>
<script src="/the-react-app/src/App.js"></script>