@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col">
        <h2>Welcome</h2>
    </div>
    <div class="col">
        <p>This will be the home page.</p>
    </div>
</div>
